@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Dongle&family=Holtwood+One+SC&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  background-color: lightblue;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

h1 {
  text-align: center;
  font-family: 'Holtwood One SC', serif;
}

#intro {
    background-color: lightgreen;
    width: 30%;
    height: 10em;
    text-align: center;
    display: flex;
    align-items: center;
    border: 2px solid green;
    margin-left: 30px;
    font-family: 'Dongle', sans-serif;
}

#git_1 {
    background-color: red;
    width: 30%;
    height: 10em;
    text-align: center;
    display: flex;
    align-items: center;
    border: 2px solid black;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 25px;
    font-family: 'Comforter', cursive;
}

#git_2 {
    background-color: orange;
    width: 30%;
    height: 10em;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 2px solid red;
    margin-left: 70px;
    margin-top: 30px;
    border-radius: 30px;
    font-family: 'Indie Flower', cursive;
}

#git_2 .container ol {
  text-align: left;
}

#git_3 {
  background-color: yellow;
  width: 50%;
  height: 20em;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 4px dotted blue;
  margin-left: 90px;
  margin-top: 30px;
  border-radius: 50px;
}

#git_3 .container ol {
  text-align: left;
}

#git_4 {
  background-color: lightgreen;
  width: 50%;
  height: 10em;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 2px solid blue;
  margin-left: 110px;
  margin-top: 30px;
  border-radius: 10px;
}

#git_4 .container ol {
  text-align: left;
}

#git_5 {
  background-color: blue;
  color: white;
  width: 40%;
  height: 10em;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 2px solid black;
  margin-left: 130px;
  margin-top: 30px;
  border-radius: 90px;
}

#git_5 .container ol {
  text-align: left;
}

#git_6 {
    background-color: purple;
    color: white;
    width: 40%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 4px dashed white;
    margin-left: 180px;
    margin-top: 30px;
}

/* From https://codepen.io/hylobates-lar/pen/qBbQeON */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
