body {
  background-color: lightblue;
}

#intro {
    background-color: lightgreen;
    width: 30%;
    height: 10em;
    text-align: center;
    display: flex;
    align-items: center;
    border: 2px solid green;
}

#git_1 {
    background-color: red;

}

#git_2 {
    background-color: orange;

}

#git_3 {
  background-color: yellow;
}

#git_4 {
  background-color: green;
}

#git_5 {
  background-color: blue;
}

#git_6 {
    background-color: purple;
}
